* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border-style: none;
}

.hidden {
    display: none;
}

body {
    background-color:rgba(67, 90, 104, 0.639)
}

.container {
    margin: 0 auto;
}

.title {
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    color:#fff
}

.textarea {
    display: block;
    width: 700px;
    min-height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #6a6464;
    border-radius: 5px;
    box-shadow: 3px 5px 15px #6a6464;
}

/*   KEYBOARD  */

.keyboard {
    display: flex;
    width: 730px;
    margin: 0 auto;
    padding: 10px;
    background:#6a6464;
    border-radius: 5px;
    transition: bottom 0.4s;
}

.keyboard__hidden {
    bottom: -100%;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    margin-left: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background-color: #08212c;
    box-shadow: 2px 3px 5px #08212c;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease-in-out;
}
.key:hover {
    background-color: #08212ca0;
}
.key.active {
    background-color:#196282;
    border-radius: 35%;
}

.caseDown, 
.caseUp, 
.shiftCaps, 
.caps {
    display: block;
    width: 100;
    min-height: 40px;
}

.AltLeft, 
.AltRight, 
.ArrowUp, 
.ArrowLeft, 
.ArrowDown, 
.ArrowRight,
.Backspace, 
.CapsLock, 
.ControlLeft, 
.ControlRight, 
.Delete, 
.Enter, 
.ShiftLeft, 
.ShiftRight,
.Space,
.Tab, 
.MetaLeft {
    font-weight: 600;
    background-color: #222222;
}

.Tab {
    width: 50px;
}

.Backspace, 
.CapsLock, 
.ShiftLeft {
    width: 100px;
}

.Delete {
    width: 44px;
}

.Enter,
.ShiftRight {
    width: 86px;
}

.Space {
    width: 330px;
}